@using System.Text
@using Urbanit.Polls.Models

@{
    var part = Model.ContentPart as PollsPart;
    var radioButtonName = "voteFor" + part.Id.ToString();
    var votingDivId = "polls_" + part.Id.ToString();
    var votingResultDivId = votingDivId.ToString() + "_result";
    //var userName = HttpContext.Current.User.Identity.Name;
    var showResults = !(part.IsActive && DateTime.Now.ToLocalTime() > part.PollStart.DateTime && DateTime.Now.ToLocalTime() < part.PollEnd.DateTime);
    //var targetUrl = Url.Action("Vote", "Voting", new { Area = "Urbanit.Polls" }, null);

    var sb = new StringBuilder();

    foreach (var item in part.Answers)
    {
        sb.Append(String.Format("{0}: {1} vote(s)<br/>", item.Text, item.VoteCount));
    }

    Style.Require("Polls");
    Script.Require("VotingScript");
}
@* Írjon bele a sütibe, majd olvasson vissza, hogy engedélyezve van e a cookozás, ha nincs akkor notification *@
@part.Question<br />
<p class="polls_comment">@part.Comment</p>
<div id="@votingDivId">
    <div class="polls_answers">
        @for (var i = 0; i < part.Answers.Count(); i++)
        {
            <input type="radio" name="@radioButtonName" value="@i" />@part.Answers[i].Text<br />
        }
    </div>
    <div id="@votingResultDivId">
    </div>
    <br />
    @*@if (String.IsNullOrEmpty(userName)) {
            @T("Login to vote.")
        }*@

    @if (DateTime.Now.ToLocalTime() < part.PollStart.DateTime)
    {
        @T("Voting starts" + part.PollStart.DateTime.ToString() + ".")
    }
    else if (DateTime.Now.ToLocalTime() > part.PollEnd.DateTime)
    {
        @T("Voting finished " + part.PollEnd.DateTime.ToString() + ".")
    }
    else if (!part.IsActive)
    {
        @T("Voting is inactive right now.")
    }
    else
    {
        Response.Cookies["CookieName"].Value = "Value";
        Response.Cookies["CookieName"].Expires = DateTime.Now.AddDays(1);
        if (Request.Cookies["CookieName"].Value != null)
        {
            //
            <input type="button" value="@T("Vote")" onclick="@T(String.Format("$.Polls.vote({0},'{1}','{2}','{3}')", part.Id, radioButtonName, Model.UserName, Model.TargetUrl))" />
        }
        else
        {
            @T("Fuu you");
        }
    }
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        (function ($) {
            $(function () {
                var userName = '@Model.UserName';
                var showResults = @String.Format("{0}", showResults ? "true" : "false");
                if (userName || userName.length==0) {
                    if ($.Polls.readvotingcookie('@part.Id', userName) != null || showResults) {
                        $.Polls.showvotingresult('@part.Id', '@T(sb.ToString())');
                    }
                }
            });
        })(jQuery);
    </script>
}